*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  object-fit: fill;
  background-image: url("./images/dragon.jpg");
  width: 90%;
  height: 90%;
  font-family: fantasy;
  margin-top: 20px;
  margin: auto;
}
section{
  display: grid;
 
}
form{
  margin: 20px auto;
  border: 1px solid #f1f1f1;
  width: 50%;
  display: flex;
  justify-content: space-between;
}
input{
  outline: none;
}
#search{
  background-color: #4211a9;
  width: 25%;
  outline: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 15px;
  color: white;
  cursor: pointer;
  /* border-radius: 0  10px 10px 0; */
}
#search-bar{
  width: 75%;
  padding: 15px;
  font-size: large;
  /* border-radius: 10px 0 0 10px; */

}
input{
  width: 40%;
  border: none;
  padding: 10px;
}
.character-div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
#got-div {
  border: 1px solid #f1f1f1;
  background-color: #f1f1f1;
  width: 300px;
  height: 350px;
  border-radius: 10px;
}
#comment-section{
  gap: 5px;
  width: 280px;
}
#comment-section textarea{
  width: 200px;
}
#comment-input {
  width: 300px;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #4211a9;
}

#gotDivComments{
  height: fit-content;
  border: 1px solid #f1f1f1;
  background-color: #f1f1f1;
  width: 300px;
  border-radius: 10px;
}

#comment-btn{
  padding:  0 1px;
  border: 1px solid #4211a9;
  color: #f1f1f1;
  font-family: 'Courier New', Courier, monospace;
  background-color: #4211a9;
  border-radius: 5px;
}

#comments-viewer{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  border-radius: 5px;
  background-color: #787871;
}
#comments{
  padding: 2px;
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
image{
  width: 80px;
  height: 140px;
}
h1{
  text-align: center;
  margin: 10px;
  color: #fff;
}
#liked{
  border: 1px solid #ff0000;
  padding: 5px 10px;
  color: #ff0000;
  border-radius: 5px;
}
h2{
margin-left: 20px;}
#imageUrl{
  border-radius: 10px;
  padding: 5px;
  width:300px;
  height: 200px;
}
#like-btn{
  padding: 5px 10px;
  border: 1px solid #4211a9;
  color: #4211a9;
  border-radius: 5px;
  
}
.search-form{
  border: none;
  border-radius: 0;
}
#search{
  font-size: large;
  border: none;
  transition: .5s ease-in;
}
#search:hover{
  background-color: #b448fc;
  color: #f1f1f1;
  border: none;
}
.likes-container{
  display: flex;
  gap: 2px;
  margin-top: 10px;
  align-items: center;
}
.likes-container h2{
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  color: #ff0000;
}
#delete-btn {
  border: 1px solid #ff0010;
  color: #ff0010;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 2px;
}
#heart{
  width: 20px;
  height: 20px;
  color: #ff0000;
}